force-app/main/default/flows/Add_product_or_dish.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>Dish</name>
        <choiceText>Dish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dish</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product</name>
        <choiceText>Product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ProductDish</name>
        <label>ProductDish</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>PickDish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DishWay</defaultConnectorLabel>
        <rules>
            <name>ProductWay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PickProductOrDish</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Product</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Products</targetReference>
            </connector>
            <label>ProductWay</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Dishes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Dish__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Meals</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Descriptor__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductPick</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>New_Product__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Add product or dish {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add product or dish</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateDish</name>
        <label>CreateDish</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>Dish__c</field>
            <value>
                <elementReference>Dishes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grammage__c</field>
            <value>
                <elementReference>TypeGrammage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meal_Type__c</field>
            <value>
                <elementReference>GetMealType_0.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Meal_type_has_dish__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateProduct</name>
        <label>CreateProduct</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>Grammage__c</field>
            <value>
                <elementReference>TypeGrammage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meal_Type__c</field>
            <value>
                <elementReference>GetMealType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Product__c</field>
            <value>
                <elementReference>ProductPick</elementReference>
            </value>
        </inputAssignments>
        <object>Meal_type_has_product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetMealType</name>
        <label>GetMealType</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PickDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Descriptor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meals</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Meal_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMealType_0</name>
        <label>GetMealType</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateDish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PickDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Descriptor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Meals</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Meal_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Date</name>
        <label>Date</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Meal</targetReference>
        </connector>
        <fields>
            <name>PickDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Pick date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Meal</name>
        <label>Meal</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ProductOrDish</targetReference>
        </connector>
        <fields>
            <name>Pick_meal</name>
            <choiceReferences>Meals</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick meal</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PickDish</name>
        <label>PickDish</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetMealType_0</targetReference>
        </connector>
        <fields>
            <name>Choose_dish</name>
            <choiceReferences>Dishes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose dish</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProductOrDish</name>
        <label>ProductOrDish</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ProductDish</targetReference>
        </connector>
        <fields>
            <name>PickProductOrDish</name>
            <choiceReferences>Dish</choiceReferences>
            <choiceReferences>Product</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product or dish</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Products</name>
        <label>Products</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetMealType</targetReference>
        </connector>
        <fields>
            <name>Choose_product</name>
            <choiceReferences>ProductPick</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TypeGrammage</name>
            <dataType>Number</dataType>
            <fieldText>Type grammage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Date</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
