force-app/main/default/flows/Add_activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>Activities</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Activity__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Add activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add activity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_activity_log_records</name>
        <label>Create activity log records</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Activity_Log__c</field>
            <value>
                <elementReference>Get_activity_log.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity__c</field>
            <value>
                <elementReference>Mark_activity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time__c</field>
            <value>
                <elementReference>Time</elementReference>
            </value>
        </inputAssignments>
        <object>Activity_log_has_activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_activity_log</name>
        <label>Get activity log</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pick_activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pick_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Activity_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_activity</name>
        <label>Add activity</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_activity_log</targetReference>
        </connector>
        <fields>
            <name>Pick_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Pick date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pick_activity</name>
        <label>Pick activity</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_activity_log_records</targetReference>
        </connector>
        <fields>
            <name>Mark_activity</name>
            <choiceReferences>Activities</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mark activity</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Time</name>
            <dataType>Number</dataType>
            <fieldText>Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_activity</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
