force-app/main/default/flows/AddActivityPoints.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Copy_1_of_GetActivityPoints</name>
        <label>Copy 1 of GetActivityPoints</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Points</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Activity_Log__r.User__r.Activity_points__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_IncrementActivityPoints</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_IncrementActivityPoints</name>
        <label>Copy 1 of IncrementActivityPoints</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Points</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_UpdateUserActivityPoints</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetActivityPoints</name>
        <label>GetActivityPoints</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Points</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Activity_Log__r.User__r.Activity_points__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncrementActivityPoints</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementActivityPoints</name>
        <label>IncrementActivityPoints</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Points</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ForActivityGreater500kcal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateUserActivityPoints</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BurnedCalories</name>
        <label>BurnedCalories</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_GetActivityPoints</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BurnedCaloriesLessThan500</defaultConnectorLabel>
        <rules>
            <name>BurnedCaloriesGreaterThan500</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Activity__r.Burned_calories__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActivityPoints</targetReference>
            </connector>
            <label>BurnedCaloriesGreaterThan500</label>
        </rules>
    </decisions>
    <formulas>
        <name>burnedKcal</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Activity__r.Burned_calories__c}*{!$Record.Time__c}/60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ForActivityGreater500kcal</name>
        <dataType>Number</dataType>
        <expression>{!Time}*2</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Time</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Time__c}/10</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>AddActivityPoints {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AddActivityPoints</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>burnedKcalUpdate</name>
        <label>burnedKcalUpdate</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Activity_points__c</field>
            <value>
                <elementReference>Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Burned_calories__c</field>
            <value>
                <elementReference>burnedKcal</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_UpdateUserActivityPoints</name>
        <label>Copy 1 of UpdateUserActivityPoints</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>burnedKcalUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Activity_Log__r.User__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Activity_points__c</field>
            <value>
                <elementReference>Points</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateKcal</name>
        <label>updateKcal</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Activity_points__c</field>
            <value>
                <elementReference>ForActivityGreater500kcal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Burned_calories__c</field>
            <value>
                <elementReference>burnedKcal</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateUserActivityPoints</name>
        <label>UpdateUserActivityPoints</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>updateKcal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Activity_Log__r.User__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Activity_points__c</field>
            <value>
                <elementReference>Points</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BurnedCalories</targetReference>
        </connector>
        <object>Activity_log_has_activity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Points</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
</Flow>
