force-app/main/default/flows/Buy_vip.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>ifUserHaveSpecialPoints</name>
        <label>ifUserHaveSpecialPoints</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>noPoints</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ifNotSpecialPoints</defaultConnectorLabel>
        <rules>
            <name>ifSpecialPoints</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Special_points__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateStatus</targetReference>
            </connector>
            <label>ifSpecialPoints</label>
        </rules>
    </decisions>
    <interviewLabel>Buy vip {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Buy vip</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>updateStatus</name>
        <label>updateStatus</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>VIP</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>noPoints</name>
        <label>noPoints</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>tooLow</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You dont have enought points!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>vip</name>
        <label>vip</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ifUserHaveSpecialPoints</targetReference>
        </connector>
        <fields>
            <name>BuyVip</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;VIP - 1000 SPECIAL POINTS!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Benefits:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>BUY</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>vip</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
