force-app/main/default/flows/Count_new_dish_macros.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignMacros</name>
        <label>assignMacros</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>totalCalories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>calories</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalCarbs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>carbs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalFats</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fats</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalProtein</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>proteins</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalGrammage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assignToDish.Grammage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignToDish</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>calories</name>
        <dataType>Number</dataType>
        <expression>{!assignToDish.New_Product__r.Calories__c}*{!$Record.Grammage__c}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>carbs</name>
        <dataType>Number</dataType>
        <expression>{!assignToDish.New_Product__r.Carbohydrates__c}*{!$Record.Grammage__c}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fats</name>
        <dataType>Number</dataType>
        <expression>{!assignToDish.New_Product__r.Fat__c}*{!$Record.Grammage__c}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>finalCarbs</name>
        <dataType>Number</dataType>
        <expression>{!totalCarbs}/{!totalGrammage}*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>finalFats</name>
        <dataType>Number</dataType>
        <expression>{!totalFats}/{!totalGrammage}*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>finalKcal</name>
        <dataType>Number</dataType>
        <expression>{!totalCalories}/{!totalGrammage}*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>finalProteins</name>
        <dataType>Number</dataType>
        <expression>{!totalProtein}/{!totalGrammage}*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>proteins</name>
        <dataType>Number</dataType>
        <expression>{!assignToDish.New_Product__r.Protein__c}*{!$Record.Grammage__c}/100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Count new dish macros {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count new dish macros</label>
    <loops>
        <name>assignToDish</name>
        <label>assignToDish</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>getAllProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignMacros</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateDish</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllProducts</name>
        <label>getAllProducts</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignToDish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dish__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dish__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dish_has_product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDish</name>
        <label>getDish</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAllProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dish__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dish__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateDish</name>
        <label>updateDish</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dish__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_calories__c</field>
            <value>
                <elementReference>finalKcal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_carbohydrates__c</field>
            <value>
                <elementReference>finalCarbs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_fats__c</field>
            <value>
                <elementReference>finalFats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_proteins__c</field>
            <value>
                <elementReference>finalProteins</elementReference>
            </value>
        </inputAssignments>
        <object>Dish__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getDish</targetReference>
        </connector>
        <object>Dish_has_product__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>totalCalories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalCarbs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalFats</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalGrammage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalProtein</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
