force-app/main/default/flows/Create_product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create product {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Create product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createProducts</name>
        <label>createProducts</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Barcode__c</field>
            <value>
                <elementReference>Barcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calories__c</field>
            <value>
                <elementReference>Calories_100g</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carbohydrates__c</field>
            <value>
                <elementReference>Carbohydrates_100g</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fat__c</field>
            <value>
                <elementReference>Fat_100g</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Protein__c</field>
            <value>
                <elementReference>Protein_100g</elementReference>
            </value>
        </inputAssignments>
        <object>New_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>createProduct</name>
        <label>createProduct</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createProducts</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Brand</name>
            <dataType>String</dataType>
            <fieldText>Brand</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Barcode</name>
            <dataType>String</dataType>
            <fieldText>Barcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Barcode must have 13 length.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN(TRIM({!Barcode}))==13</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Calories_100g</name>
            <dataType>Number</dataType>
            <fieldText>Calories/100g</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Calories must have been greater than 0&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Calories_100g}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Fat_100g</name>
            <dataType>Number</dataType>
            <fieldText>Fat/100g</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Fats must have been greater than 0&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Fat_100g}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Protein_100g</name>
            <dataType>Number</dataType>
            <fieldText>Protein/100g</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Proteins must have been greater than 0&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Protein_100g}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Carbohydrates_100g</name>
            <dataType>Number</dataType>
            <fieldText>Carbohydrates/100g</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Carbohydrates must have been greater than 0&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Carbohydrates_100g}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createProduct</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
