force-app/main/default/flows/EditProfile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>Genders</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Goals</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Goal__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pals</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PAL__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BMR</name>
        <dataType>Number</dataType>
        <expression>IF(TEXT({!userData.PAL__c})  = &apos;Lying in bed&apos;, 1.2*{!PPM},
 IF(TEXT({!userData.PAL__c})  = &apos;Low physical activity&apos;, 1.4*{!PPM},
IF(TEXT({!userData.PAL__c})  = &apos;Moderate physical activity&apos;, 1.6*{!PPM},
IF(TEXT({!userData.PAL__c})  = &apos;Regular exercise 2-3 times a week&apos;, 1.75*{!PPM},
IF(TEXT({!userData.PAL__c})  = &apos;Daily exercises&apos;, 2.0*{!PPM}, 2.4*{!PPM}
)
)
)
)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Kcal</name>
        <dataType>Number</dataType>
        <expression>IF(TEXT({!userData.Goal__c})  = &apos;Rapid weight loss&apos;, {!BMR}+1000,
IF(TEXT({!userData.Goal__c})  = &apos;Quick weight loss&apos;, {!BMR}+750,
IF(TEXT({!userData.Goal__c})  = &apos;Moderate weight loss&apos;, {!BMR}+500,
IF(TEXT({!userData.Goal__c})  = &apos;Slow weight loss&apos;, {!BMR}+250,
IF(TEXT({!userData.Goal__c})  = &apos;Keeping weight&apos;, {!BMR},
IF(TEXT({!userData.Goal__c})  = &apos;Slow weight gain&apos;, {!BMR}-250, 
IF(TEXT({!userData.Goal__c})  = &apos;Moderate weight gain&apos;, {!BMR}-500,
IF(TEXT({!userData.Goal__c})  = &apos;Quick weight gain&apos;, {!BMR}-750, {!BMR}-1000
)
)
)
)
)
)
)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PPM</name>
        <dataType>Number</dataType>
        <expression>IF(TEXT({!userData.Gender__c}) = &apos;Male&apos;,
 66+(13.75*{!userData.Weight__c})+(5*{!userData.Height__c})-(6.8*{!userData.Age__c}),
 655+(9.56*{!userData.Weight__c})+(1.85*{!userData.Height__c})-(4.7*{!userData.Age__c}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>EditProfile {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Edit Profile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>userData</name>
        <label>userData</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>User_profile_update</name>
        <label>User profile update</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Age__c</field>
            <value>
                <elementReference>Age</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Genders</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal__c</field>
            <value>
                <elementReference>Goals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Height__c</field>
            <value>
                <elementReference>Height</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAL__c</field>
            <value>
                <elementReference>pals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight__c</field>
            <value>
                <elementReference>Weight</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Edit_Profile</name>
        <label>Edit Profile</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_profile_update</targetReference>
        </connector>
        <fields>
            <name>Gender</name>
            <choiceReferences>Genders</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>$User.Gender__c</elementReference>
            </defaultValue>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Age</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>$User.Age__c</elementReference>
            </defaultValue>
            <fieldText>Age</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Selected age:&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Age}&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;is not correct!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Age} &gt; 0 &amp;&amp; {!Age} &lt; 130</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Goal</name>
            <choiceReferences>Goals</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>userData.Goal__c</elementReference>
            </defaultValue>
            <fieldText>Goal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Height</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>userData.Height__c</elementReference>
            </defaultValue>
            <fieldText>Height in cm</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Selected height: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Height}&lt;/span&gt; is not correct!&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Height} &gt; 0 &amp;&amp; {!Height}&lt; 250</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Weight</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>userData.Weight__c</elementReference>
            </defaultValue>
            <fieldText>Weight in kg</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>1</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Selected weight:&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Weight}&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;is not correct!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Weight} &gt; 0 &amp;&amp; {!Weight} &lt; 650</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>PAL</name>
            <choiceReferences>pals</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>userData.PAL__c</elementReference>
            </defaultValue>
            <fieldText>PAL</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>success</name>
        <label>success</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>test</targetReference>
        </connector>
        <fields>
            <name>successMess</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(1, 150, 40);&quot;&gt;Edited successful&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>refresh</name>
            <extensionName>c:refreshPage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>test</name>
        <label>test</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>t</name>
            <fieldText>&lt;p&gt;tre&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>userData</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
