force-app/main/default/flows/FlowShowMenu.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetMenuTypes</name>
        <label>GetMenuTypes</label>
        <locationX>176</locationX>
        <locationY>1670</locationY>
        <actionName>getMenusToFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getMacros</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mealType</name>
            <value>
                <elementReference>getMenu</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assignment</name>
        <label>assignment</label>
        <locationX>308</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>getMenu</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_getMenu</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetMenuTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Macros</name>
        <label>Macros</label>
        <locationX>264</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>totalCalories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getMacros.Total_calories__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalFats</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getMacros.Total_fats__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalCarbohydrates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getMacros.Total_carbohydrates__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalProteins</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getMacros.Total_proteins__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMacros</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>mealTypeToList</name>
        <label>mealTypeToList</label>
        <locationX>396</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>createMealTypeRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleMealType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createMealTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setName</name>
        <label>setName</label>
        <locationX>396</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>singleMealType.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getNameMealType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>mealTypeToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>singleMealTypeCreate</name>
        <label>singleMealTypeCreate</label>
        <locationX>396</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>singleMealType.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleMealType.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleMealType.Descriptor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createMealTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setName</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ifNotExist</name>
        <label>menuExist</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>getAllMeals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ifNotExist</defaultConnectorLabel>
        <rules>
            <name>ifExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMenu</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMenuTypes</targetReference>
            </connector>
            <label>ifExist</label>
        </rules>
    </decisions>
    <formulas>
        <name>getNameMealType</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;{!$User.LastName}&amp;{!$User.Username}&amp;TEXT({!singleMealType.Date__c})&amp;{!singleMealType.Descriptor__r.Name}</expression>
    </formulas>
    <interviewLabel>FlowShowMenu {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Your menu</label>
    <loops>
        <name>createMealTypes</name>
        <label>createMealTypes</label>
        <locationX>308</locationX>
        <locationY>638</locationY>
        <collectionReference>getAllMeals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>singleMealTypeCreate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createMultipleTypeRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getMacros</name>
        <label>getMacros</label>
        <locationX>176</locationX>
        <locationY>1790</locationY>
        <collectionReference>getMenu</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Macros</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Print_Menus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createMultipleTypeRecords</name>
        <label>createMultipleTypeRecords</label>
        <locationX>308</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Copy_1_of_getMenu</targetReference>
        </connector>
        <inputReference>createMealTypeRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_getMenu</name>
        <label>Copy 1 of getMenu</label>
        <locationX>308</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Meal_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAllMeals</name>
        <label>getAllMeals</label>
        <locationX>308</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createMealTypes</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Descriptor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMenu</name>
        <label>getMenu</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ifNotExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Meal_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>getDate</name>
        <label>getDate</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getMenu</targetReference>
        </connector>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Print_Menus</name>
        <label>Print Menus</label>
        <locationX>176</locationX>
        <locationY>2126</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Breakfast</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Breakfast&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>getList</name>
            <extensionName>c:listProducts</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>products</name>
                <value>
                    <elementReference>GetMenuTypes.breakfastProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mealName</name>
                <value>
                    <stringValue>Breakfast</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dishes</name>
                <value>
                    <elementReference>GetMenuTypes.breakfastDishes</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SecondBreakfast</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Second breakfast&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>get2nd</name>
            <extensionName>c:listProducts</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mealName</name>
                <value>
                    <stringValue>Second breakfast</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>products</name>
                <value>
                    <elementReference>GetMenuTypes.secondBreakfastProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dishes</name>
                <value>
                    <elementReference>GetMenuTypes.secondBreakfastDishes</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Lunch</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Lunch&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>getLunch</name>
            <extensionName>c:listProducts</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mealName</name>
                <value>
                    <stringValue>Lunch</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>products</name>
                <value>
                    <elementReference>GetMenuTypes.lunchProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dishes</name>
                <value>
                    <elementReference>GetMenuTypes.lunchDishes</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Snack</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Snack&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>getSnack</name>
            <extensionName>c:listProducts</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mealName</name>
                <value>
                    <stringValue>Snack</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>products</name>
                <value>
                    <elementReference>GetMenuTypes.snackProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dishes</name>
                <value>
                    <elementReference>GetMenuTypes.snackDishes</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Dinner</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Dinner&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>getDinner</name>
            <extensionName>c:listProducts</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mealName</name>
                <value>
                    <stringValue>Dinner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>products</name>
                <value>
                    <elementReference>GetMenuTypes.dinnerProducts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dishes</name>
                <value>
                    <elementReference>GetMenuTypes.dinnerDishes</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayMacros</name>
            <fieldText>&lt;p&gt;Calories: {!totalCalories}&lt;/p&gt;&lt;p&gt;Proteins: {!totalProteins}&lt;/p&gt;&lt;p&gt;Fats: {!totalFats}&lt;/p&gt;&lt;p&gt;Carbohydrates: {!totalCarbohydrates}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Choose other date</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getDate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>createMealTypeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Meal_Type__c</objectType>
    </variables>
    <variables>
        <name>singleMealType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Meal_Type__c</objectType>
    </variables>
    <variables>
        <name>totalCalories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalCarbohydrates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalFats</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalProteins</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
