force-app/main/default/flows/Product_information_or_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Product information or update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product information or update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getMealTypeHasProduct</name>
        <label>getMealTypeHasProduct</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>infoAboutProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Meal_type_has_product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateMealType</name>
        <label>updateMealType</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Grammage__c</field>
            <value>
                <elementReference>Grammage</elementReference>
            </value>
        </inputAssignments>
        <object>Meal_type_has_product__c</object>
    </recordUpdates>
    <screens>
        <name>infoAboutProduct</name>
        <label>infoAboutProduct</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateMealType</targetReference>
        </connector>
        <fields>
            <name>products</name>
            <fieldText>&lt;p&gt;Product: {!getMealTypeHasProduct.New_Product__r.Name}&lt;/p&gt;&lt;p&gt;Brand: {!getMealTypeHasProduct.New_Product__r.Brand__c}&lt;/p&gt;&lt;p&gt;Grammage: {!getMealTypeHasProduct.Grammage__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Grammage</name>
            <dataType>Number</dataType>
            <fieldText>Grammage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Inserted grammage {!Grammage} is not correct! The value given should be between 0 and 10000.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Grammage} &gt; 0 &amp;&amp; {!Grammage} &lt; 10000</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getMealTypeHasProduct</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
