force-app/main/default/flows/Ranking_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>setPositions</name>
        <label>setPositions</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>positionDefault</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>singleAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRankings</name>
        <label>setRankings</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>listRankings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleRankingHasUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updatePositions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>singleAssignment</name>
        <label>singleAssignment</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>singleRankingHasUser.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatePositions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleRankingHasUser.Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>positionDefault</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setRankings</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Ranking update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ranking update</label>
    <loops>
        <name>updatePositions</name>
        <label>updatePositions</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <collectionReference>getUsersInRanking</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setPositions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateRankings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRanking</name>
        <label>getRanking</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateActivityPoints</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Activity_Log__r.Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Activity_Log__r.Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ranking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUsersInRanking</name>
        <label>getUsersInRanking</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updatePositions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ranking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRanking.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ranking_has_user__c</object>
        <sortField>Activity_points__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateActivityPoints</name>
        <label>updateActivityPoints</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>getUsersInRanking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ranking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRanking.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Activity_points__c</field>
            <value>
                <elementReference>$Record.Activity_Log__r.User__r.Activity_points__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ranking_has_user__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRankings</name>
        <label>updateRankings</label>
        <locationX>176</locationX>
        <locationY>1271</locationY>
        <inputReference>listRankings</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRanking</targetReference>
        </connector>
        <object>Activity_log_has_activity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>listRankings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ranking_has_user__c</objectType>
    </variables>
    <variables>
        <name>positionDefault</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>singleRankingHasUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ranking_has_user__c</objectType>
    </variables>
</Flow>
