force-app/main/default/flows/Ranking_management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>addTop1</name>
        <label>addTop1</label>
        <locationX>264</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>listUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>prize</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTop2</name>
        <label>addTop2</label>
        <locationX>528</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>listUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>prize</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTop3</name>
        <label>addTop3</label>
        <locationX>792</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>listUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>prize</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>singleRankingHasUser</name>
        <label>singleRankingHasUser</label>
        <locationX>264</locationX>
        <locationY>1788</locationY>
        <assignmentItems>
            <assignToReference>rankingHasUserSingle.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forUsers.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rankingHasUserSingle.Ranking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createRanking</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>toListAddRankingHasUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>toListAddRankingHasUser</name>
        <label>toListAddRankingHasUser</label>
        <locationX>264</locationX>
        <locationY>1908</locationY>
        <assignmentItems>
            <assignToReference>rankingHasUserList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rankingHasUserSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>userAssignmentTop1</name>
        <label>userAssignmentTop1</label>
        <locationX>264</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>singleUser.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>prize.User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleUser.Special_points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>specialPointsTop1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addTop1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>userAssignmentTop2</name>
        <label>userAssignmentTop2</label>
        <locationX>528</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>singleUser.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>prize.User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleUser.Special_points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>specialPointsTop2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addTop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>userAssignmentTop3</name>
        <label>userAssignmentTop3</label>
        <locationX>792</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>singleUser.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>prize.User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleUser.Special_points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>specialPointsTop3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addTop3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ifTop3</name>
        <label>ifTop3</label>
        <locationX>660</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>prize</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>top1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prize.Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>userAssignmentTop1</targetReference>
            </connector>
            <label>top1</label>
        </rules>
        <rules>
            <name>top2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prize.Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>userAssignmentTop2</targetReference>
            </connector>
            <label>top2</label>
        </rules>
        <rules>
            <name>top3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prize.Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>userAssignmentTop3</targetReference>
            </connector>
            <label>top3</label>
        </rules>
    </decisions>
    <formulas>
        <name>endDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <formulas>
        <name>endDatePrev</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-1</expression>
    </formulas>
    <formulas>
        <name>specialPointsTop1</name>
        <dataType>Number</dataType>
        <expression>{!singleUser.Special_points__c}+750</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>specialPointsTop2</name>
        <dataType>Number</dataType>
        <expression>{!singleUser.Special_points__c}+500</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>specialPointsTop3</name>
        <dataType>Number</dataType>
        <expression>{!singleUser.Special_points__c}+250</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Ranking management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ranking management</label>
    <loops>
        <name>forUsers</name>
        <label>forUsers</label>
        <locationX>176</locationX>
        <locationY>1668</locationY>
        <collectionReference>getUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>singleRankingHasUser</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createRankingHasUser</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>prize</name>
        <label>prize</label>
        <locationX>176</locationX>
        <locationY>636</locationY>
        <collectionReference>getRankingUserPrev</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ifTop3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateSpecialPoints</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createRanking</name>
        <label>createRanking</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>getRank</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Ranking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createRankingHasUser</name>
        <label>createRankingHasUser</label>
        <locationX>176</locationX>
        <locationY>2124</locationY>
        <inputReference>rankingHasUserList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getRank</name>
        <label>getRank</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRankingUserPrev</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>endDatePrev</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ranking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRankingUserPrev</name>
        <label>getRankingUserPrev</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>prize</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Ranking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRank.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ranking_has_user__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUsers</name>
        <label>getUsers</label>
        <locationX>176</locationX>
        <locationY>1548</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>forUsers</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateSpecialPoints</name>
        <label>updateSpecialPoints</label>
        <locationX>176</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>zeroPoints</targetReference>
        </connector>
        <inputReference>listUsers</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>zeroPoints</name>
        <label>zeroPoints</label>
        <locationX>176</locationX>
        <locationY>1428</locationY>
        <connector>
            <targetReference>getUsers</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_points__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createRanking</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2022-11-03</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>listUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>rankingHasUserList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ranking_has_user__c</objectType>
    </variables>
    <variables>
        <name>rankingHasUserSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ranking_has_user__c</objectType>
    </variables>
    <variables>
        <name>singleUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
