force-app/main/default/flows/Show_activities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getActs</name>
        <label>getActs</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <actionName>showActivityLog</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>showActs</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>activityLog</name>
            <value>
                <elementReference>actLogId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignment</name>
        <label>assignment</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>actLogId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getActivities.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getActs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assignment</name>
        <label>Copy 1 of assignment</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>actLogId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createActivityLog</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getActs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>actLogExist</name>
        <label>actLogExist</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>createActivityLog</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ifNotExist</defaultConnectorLabel>
        <rules>
            <name>ifExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActivities.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment</targetReference>
            </connector>
            <label>ifExist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Show activities {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Show activities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createActivityLog</name>
        <label>createActivityLog</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Copy_1_of_assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Pick_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Activity_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getActivities</name>
        <label>getActivities</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actLogExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pick_date</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Activity_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>activities</name>
        <label>activities</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getActivities</targetReference>
        </connector>
        <fields>
            <name>Pick_date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Pick date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showActs</name>
        <label>showActs</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>acts</name>
            <extensionName>c:showActivities</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activites</name>
                <value>
                    <elementReference>getActs.activities</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Choose other date</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>activities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
