force-app/main/default/flows/UpdateMacros.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>FinalValues</name>
        <label>FinalValues</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>FinalCalories</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaloriesWithGrammage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalFat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FatWithGrammage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalProtein</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProteinWithGrammage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalCarbohydrates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CarbohydratesWithGrammage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMacros</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetInfoAboutProduct</name>
        <label>GetInfoAboutProduct</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Calories</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProduct.Calories__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProduct.Fat__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Protein</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProduct.Protein__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Carbohydrates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProduct.Carbohydrates__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Grammage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Grammage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCurrentInfo</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>CaloriesWithGrammage</name>
        <dataType>Number</dataType>
        <expression>({!Calories}*{!Grammage}/100)+{!GetCurrentInfo.Total_calories__c}</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>CarbohydratesWithGrammage</name>
        <dataType>Number</dataType>
        <expression>({!Carbohydrates}*{!Grammage}/100)+{!GetCurrentInfo.Total_carbohydrates__c}</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>FatWithGrammage</name>
        <dataType>Number</dataType>
        <expression>({!Fat}*{!Grammage}/100)+{!GetCurrentInfo.Total_fats__c}</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>ProteinWithGrammage</name>
        <dataType>Number</dataType>
        <expression>({!Protein}*{!Grammage}/100)+{!GetCurrentInfo.Total_proteins__c}</expression>
        <scale>1</scale>
    </formulas>
    <interviewLabel>UpdateMacros {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateMacros</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCurrentInfo</name>
        <label>GetCurrentInfo</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FinalValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Meal_Type__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Meal_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProduct</name>
        <label>GetProduct</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetInfoAboutProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.New_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>New_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateMacros</name>
        <label>UpdateMacros</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Meal_Type__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_calories__c</field>
            <value>
                <elementReference>FinalCalories</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_carbohydrates__c</field>
            <value>
                <elementReference>FinalCarbohydrates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_fats__c</field>
            <value>
                <elementReference>FinalFat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_proteins__c</field>
            <value>
                <elementReference>FinalProtein</elementReference>
            </value>
        </inputAssignments>
        <object>Meal_Type__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetProduct</targetReference>
        </connector>
        <object>Meal_type_has_product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Calories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>Carbohydrates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>Fat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>FinalCalories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>FinalCarbohydrates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>FinalFat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>FinalProtein</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>Grammage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Protein</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
</Flow>
