force-app/main/default/flows/UpdateMacrosBasedOnDish.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>insertOrUpdate</name>
        <label>insertOrUpdate</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>updateMacros</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>update</defaultConnectorLabel>
        <rules>
            <name>insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMacros</targetReference>
            </connector>
            <label>insert</label>
        </rules>
    </decisions>
    <formulas>
        <name>Calories</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Meal_Type__r.Total_calories__c}+({!$Record.Dish__r.Total_calories__c}*{!$Record.Grammage__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>caloriesUpdate</name>
        <dataType>Number</dataType>
        <expression>({!$Record__Prior.Meal_Type__r.Total_calories__c}-{!$Record__Prior.Dish__r.Total_calories__c}*{!$Record__Prior.Grammage__c}/100)+({!$Record.Dish__r.Total_calories__c}*{!$Record.Grammage__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Carbohydrates</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Meal_Type__r.Total_carbohydrates__c}+({!$Record.Dish__r.Total_carbohydrates__c}*{!$Record.Grammage__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>carbohydratesUpdate</name>
        <dataType>Number</dataType>
        <expression>({!$Record__Prior.Meal_Type__r.Total_carbohydrates__c}-{!$Record__Prior.Dish__r.Total_carbohydrates__c}*{!$Record__Prior.Grammage__c}/100)+({!$Record.Dish__r.Total_carbohydrates__c}*{!$Record.Grammage__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Fats</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Meal_Type__r.Total_fats__c}+({!$Record.Dish__r.Total_fats__c}*{!$Record.Grammage__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fatUpdate</name>
        <dataType>Number</dataType>
        <expression>({!$Record__Prior.Meal_Type__r.Total_fats__c}-{!$Record__Prior.Dish__r.Total_fats__c}*{!$Record__Prior.Grammage__c}/100)+({!$Record.Dish__r.Total_fats__c}*{!$Record.Grammage__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Proteins</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Meal_Type__r.Total_proteins__c}+({!$Record.Dish__r.Total_proteins__c}*{!$Record.Grammage__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>proteinUpdate</name>
        <dataType>Number</dataType>
        <expression>({!$Record__Prior.Meal_Type__r.Total_proteins__c}-{!$Record__Prior.Dish__r.Total_proteins__c}*{!$Record__Prior.Grammage__c}/100)+({!$Record.Dish__r.Total_proteins__c}*{!$Record.Grammage__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>UpdateMacrosBasedOnDish {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateMacrosBasedOnDish</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>GetMacros</name>
        <label>GetMacros</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Meal_Type__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_calories__c</field>
            <value>
                <elementReference>Calories</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_carbohydrates__c</field>
            <value>
                <elementReference>Carbohydrates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_fats__c</field>
            <value>
                <elementReference>Fats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_proteins__c</field>
            <value>
                <elementReference>Proteins</elementReference>
            </value>
        </inputAssignments>
        <object>Meal_Type__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateMacros</name>
        <label>updateMacros</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Meal_Type__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_calories__c</field>
            <value>
                <elementReference>caloriesUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_carbohydrates__c</field>
            <value>
                <elementReference>carbohydratesUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_fats__c</field>
            <value>
                <elementReference>fatUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_proteins__c</field>
            <value>
                <elementReference>proteinUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Meal_Type__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>insertOrUpdate</targetReference>
        </connector>
        <object>Meal_type_has_dish__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
